body {
	background-color: rgb(106, 90, 205);

}

.interface {
	position: fixed;
}

.interface_compass {
    position: fixed;
    top: -225px;
    right: -175px;
    max-height: 100%;
    max-width: 100%;
    transform: translateY(30px);
    /*transform: translateX(10px);*/
    transform: scale(0.30, 0.30);
    
}

.interface_scale {
    position: fixed;
    bottom: 0px;
    right: -150px;
    max-height: 100%;
    max-width: 100%;
    transform: translateY(30px);
    /*transform: translateX(10px);*/
    transform: scale(1.0, 0.60);
    
}

.caption {
    position: fixed;
    bottom: 20px;
    right: -352px;
    transform: translateY(0.5px);
    font-family: helvetica;
	font: 400 25px helvetica;
}

.lock {
	z-index:9999;
}

#mapBorderTop{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 25px;
	background: grey;
}

#mapBorderLeft{
	position: fixed;
	left: 0px;
	width:17px;
	height: 100%;
	background: grey;
}

#mapBorderRight{
	position: fixed;
	right: 0px;
	width:17px;
	height: 100%;
	background: grey;
}

#mapBorderBottom{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 25px;
	background: grey;
}

.fixImage{
	position: top;
	display: inline-block;
	/*transform: scale(0.30, 0.30);*/
	border: 5px solid white;
	border-radius: 33px;
	margin-right: 2px;
	margin-left: 2px;
}

.header {
	font-family: helvetica;
	font-weight: bold;
	font-size: 18px;
}
.paragraph {
	font-family: helvetica;
	font: 16px helvetica;
	line-height: 20px;
	text-align: left;

}

.dialogue_box {
	position: fixed;
	display: none;
	overflow-y: auto;
	width: 364px;
	height: 186px;
	background-color: lightgrey;
	margin-right: 2px;
	margin-left: 2px;
	margin-top: 3px;
	padding-top: 9px;	
	padding-left: 9px;
	padding-right: 9px
}

.wrapper{
  	display: inline-block;
  	position:relative;
}

.labels {
 	position: absolute;
 	z-index: 1;
}

.shrinkImage {
	transform: scale(0.05, 0.05);
}

.invisible_box {
	background-color: transparent;
}

.boundary{
	bottom: -2.5px;
	left:-40px;
	display: none;
}

#airport{
	text-align: center;
	box-sizing: border-box;
	width: 300px;
	height: 140px;
	border: 5px;
	font-family: helvetica;
	font: 400 30px helvetica;
	bottom: 56px;/*didn't notice the redundancy, oops. I'll remember next time*/
	left: 56px;
	color: blue;
	bottom: 3300px;
	left:190px;
}

.default_style {
	text-align: center;
	box-sizing: border-box;
	width: 300px;
	height: 140px;
	border: 5px;
	font-family: helvetica;
	font: 400 30px helvetica;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: grey;
}

.close_button {
	position: relative;
	float: right;
	border-radius: 33px;
	top: 1.5px;
    right: 7px;
    padding-bottom: 1.5px;
}


#BDU_airport_station {
	bottom: 2479px;
	left:-685px;	
}

#BDU_airport_east_sta {
	bottom: 2795px;
	left:160px;	
}

#BDU_fluominnastratia_sta {
	bottom: 2456px;
	left:327px;
}

#BDU_air_terminal_sta {
	bottom: 2560px;
	left:-55px;	
}

#phangwan_district {
	bottom: 1800px;
	left:920px;
}

#phangwan_industrial{
	bottom: 2500px;
	left:920px;
}

#phangwan_station {
	bottom: 1200px;
	left:-170px;
}

#Workers_Dormitory_Town_I_Station {
	bottom: 1425px;
	left: 430px;
}

#Workers_Dormitory_Town_II_Station {
	bottom: 1475px;
	left: 120px;	
}

#Workers_Dormitory_Town_III_Station {
	bottom: 1550px;
	left: -150px;	
}

#Mliggrewgraags_station {
	bottom: 950px;
	left:920px;
}
/*
.box {
	text-align: center;
	box-sizing: border-box;
	border-width: 2.5px;
	border-radius: 25px;
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10;
	font-family: helvetica;
	font: 400 25px helvetica;
	font-size: 375%;
	color: rgb(55, 55, 55);
}*/


/** Large Devices **/

@media (min-width: 992px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
	.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,
	.col-lg-11, .col-lg-12{
		float: left;
	}
	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2{
		width: 16.66%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33.33%;
	}
	.col-lg-5{
		width: 46.66%;
	}
	.col-lg-6{
		width: 50%;
	}
	.col-lg-7{
		width: 58.33%;
	}
	.col-lg-8{
		width: 66.66%;
	}
	.col-lg-9{
		width: 74.99%;
	}
	.col-lg-10{
		width: 83.33%;
	}
	.col-lg-11{
		width: 91.66%;
	}
	.col-lg-12{
		width: 100%;
	}
}

/** Medium Devices **/

@media (min-width: 768px) and (max-width: 991px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
	.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
	.col-md-11, .col-md-12{
		float: left;
	}
	.col-md-1{
		width: 8.33%;
	}
	.col-md-2{
		width: 16.66%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33%;
	}
	.col-md-5{
		width: 41.66%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.33%;
	}
	.col-md-8{
		width: 66.66%;
	}
	.col-md-9{
		width: 74.99%;
	}
	.col-md-10{
		width: 83.33%;
	}
	.col-md-11{
		width: 91.66%;
	}
	.col-md-12{
		width: 100%;
	}
}

/** Small Devices **/

@media (max-width: 767px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
	.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10,
	.col-sm-11, .col-sm-12{
		float: left;
	}
	.col-sm-1{
		width: 8.33%;
	}
	.col-sm-2{
		width: 16.66%;
	}
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33%;
	}
	.col-sm-5{
		width: 41.66%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-7{
		width: 58.33%;
	}
	.col-sm-8{
		width: 66.66%;
	}
	.col-sm-9{
		width: 74.99%;
	}
	.col-sm-10{
		width: 83.33%;
	}
	.col-sm-11{
		width: 91.66%;
	}
	.col-sm-12{
		width: 100%;
	}
}
/*<img imgid="theImage" src="brongdyu_city_map (road only).png" alt="Map of Dragon City">
document.getElementById("mapImg").src="C:/Users//Austin Brown//Pictures//brongdyu city map showcase.png";
<p><input class="interface" type="button" id="theButton" value="test" onclick="pictureChange()"></p>
<img id="mapImg" src="C:/Users//Austin Brown//Pictures//brongdyu_city_map (road only).png">
<input type="button" class="box" id="theButton" value="Public transit" onclick="pictureChange()">
<input type="button" class="box" id="theButton2" value="Default" onclick="pictureChange2()">
*/